<section class= "zIndex0">
  <ul>
    <li>
      <button class= "buttonPink"><a routerLink= "/suivi-projet/nouveau-projet" title= "Nouveau projet" class= "h4">Nouveau projet</a></button>
    </li>
    <li>
      <button class= "buttonPink"><a routerLink= "/suivi-projet/projets-en-cours" title= "Les projets en cours" class= "h4">Projets en cours</a></button>
    </li>
    <li>
      <button class= "buttonPink"><a routerLink= "/suivi-projet/liste-clients" title= "Projets terminés" class= "h4">Projets terminés</a></button>
    </li>
  </ul>
</section>
