
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top   : 20px;
}

h2 {
    width: 250px;
    font-size: 1.4em;
    color: #999;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    width: 100%;
}