<section class="zIndex0">
  <article>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.nom }}</td>
          <td>{{ customer.prenom }}</td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
