<section class= "zIndex0">
  <ul>
    <li>
      <button class= "buttonPink"><a routerLink= "/suivi-projet/nouveau-projet/identification-client" title="Enregistrer un nouveau client" class= "h4">Nouveau client</a></button>
    </li>
    <!-- Replace the existing client button with an autocomplete input or drop-down list -->
    <li>
      <button class= "buttonPink"><a routerLink= "/suivi-projet/liste-clients" title="Liste des clients existants" class= "h4">Client existant</a></button>
    </li>
    <li>
      <button class= "buttonPink"><a routerLink= "/suivi-projet/nouveau-projet/liste" title= "Renseignements" class= "h4">Formulaires</a></button>
    </li>
  </ul>
</section>